html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

@font-face { font-family: "TinyBoxBlackBitA8Regular"; src: url("/fonts/tinybbba-webfont.eot?") format("eot"), url("/fonts/tinybbba-webfont.woff") format("woff"), url("/fonts/tinybbba-webfont.ttf") format("truetype"), url("/fonts/tinybbba-webfont.svg#webfont53HmssFB") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "inero"; src: url("/fonts/inero-webfont.eot?") format("eot"), url("/fonts/inero-webfont.woff") format("woff"), url("/fonts/inero-webfont.ttf") format("truetype"), url("/fonts/inero-webfont.svg#webfontHpoyqXln") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "PFTempestaSevenExtended"; src: url("/fonts/pf_tempesta_seven_extended-webfont.eot?") format("eot"), url("/fonts/pf_tempesta_seven_extended-webfont.woff") format("woff"), url("/fonts/pf_tempesta_seven_extended-webfont.ttf") format("truetype"), url("/fonts/pf_tempesta_seven_extended-webfont.svg#webfontvyGkTGgk") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "MonkirtaPursuitNCRegular"; src: url("/fonts/monkirta_pursuit_nc-webfont.eot?") format("eot"), url("/fonts/monkirta_pursuit_nc-webfont.woff") format("woff"), url("/fonts/monkirta_pursuit_nc-webfont.ttf") format("truetype"), url("/fonts/monkirta_pursuit_nc-webfont.svg#webfontf8StscE9") format("svg"); font-weight: normal; font-style: normal; }

html { overflow-y: scroll; }

body { font: 13px/1.231 sans-serif; color: #292929; background-color: #333333; font-family: "Gill Sans", "Tacoma", "Arial", Geneva, Verdana, sans-serif; }

header { padding: 1.25em; padding-bottom: 0; background: white; }
header h1 { margin: 0; }
header #logo { height: 139px; background: white url(/images/puzzlenode_background.png) no-repeat center top; margin-bottom: 2em; position: relative; }
header #logo h1 { font-family: "TinyBoxBlackBitA8Regular"; font-size: 48px; line-height: 70px; color: #305896; padding-top: 20px; text-align: center; }
header #logo h1 a { font-family: "TinyBoxBlackBitA8Regular"; color: #305896; }
header #logo h1 a:hover { color: #3665ae; text-decoration: none; }
header #logo img.loading { display: none; position: absolute; top: 101px; left: 469px; }
header #logo.loading img.loading { display: block; }
header nav { background: #fe7f2f; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffa027), color-stop(100%, #fe7f2f)); background-image: -moz-linear-gradient(top, #ffa027 0%, #fe7f2f 100%); background-image: linear-gradient(top, #ffa027 0%, #fe7f2f 100%); color: white; padding: 0.5em 1em; margin-top: 0.5em; font-size: 1.25em; position: relative; margin: 0 -1em; }
header nav ul { list-style: none outside none; }
header nav ul li { display: inline; list-style-image: none; list-style-type: none; margin-right: 0.75em; white-space: nowrap; position: relative; }
header nav ul li.node { background: transparent url(/images/node.png) no-repeat 0 0; display: inline-block; width: 14px; height: 14px; }
header nav ul li.right { float: right; margin-right: 0; }
header nav ul li a { display: inline-block; color: white; text-shadow: #333333 1px 0 2px; font-family: "MonkirtaPursuitNCRegular"; font-size: 1.75em; margin-top: -0.15em; }
header nav ul li a:hover { color: white; text-decoration: none; text-shadow: #333333 1px 1px 4px; }
header nav div.clear { clear: both; }

.wrap { width: 970px; margin: 0 auto; }

#content { background-color: #305896; padding: 1.25em; color: #f9f9f9; font-size: 16px; min-height: 200px; border-bottom: 1px solid #254980; border-top: 1px solid #254980; }

::-moz-selection { background: #fe7f2f; color: white; text-shadow: none; }

::selection { background: #fe7f2f; color: white; text-shadow: none; }

#puzzles .puzzle { margin-bottom: 0.75em; }
#puzzles .puzzle img.solved { margin-right: 0.5em; margin-top: 0.5em; float: right; vertical-align: bottom; }
#puzzles .puzzle .description { padding: 0.5em 0; }
#puzzles .puzzle .description { border-top: 2px solid #254980; font-size: 1.2em; line-height: 1.5em; }
#puzzles .puzzle .action { float: right; margin-left: 0.5em; margin-bottom: 0.5em; }
#puzzles .puzzle a { color: #eeeeee; text-shadow: #222222 1px 1px 3px; letter-spacing: 0.05em; font-family: "MonkirtaPursuitNCRegular"; font-size: 2.5em; }
#puzzles .puzzle a:hover { text-decoration: none; color: #c8dbe6; }

#puzzle h1 { margin-top: 0; margin-bottom: 0.25em; padding-bottom: 0.5em; font-family: "MonkirtaPursuitNCRegular"; text-shadow: #222222 1px 1px 5px; border-bottom: 5px solid #254980; font-size: 3em; }
#puzzle h1 a:hover { text-decoration: none; color: #c8dbe6; }
#puzzle h1 button.right { float: right; margin-top: 2em; }
#puzzle h1.main { border-bottom: none; padding-bottom: 0; }
#puzzle div.puzzle-info { margin-bottom: 1.5em; border-bottom: 5px solid #254980; padding-bottom: 1em; }
#puzzle div.puzzle-info span.label { color: #c8dbe6; }
#puzzle div.puzzle-info span.section { margin-right: 1em; padding: 0.5em 0; display: inline-block; }
#puzzle div.puzzle-info span.right { float: right; margin-top: 3px; }
#puzzle div.puzzle-info a { border-bottom: 1px solid #c8dbe6; }
#puzzle div.puzzle-info a:hover { text-decoration: none; border-color: #fe7f2f; }
#puzzle #notice { background-color: #254980; padding: 1em; -moz-box-shadow: #222222 0 0 5px inset; -webkit-box-shadow: #222222 0 0 5px inset; -o-box-shadow: #222222 0 0 5px inset; box-shadow: #222222 0 0 5px inset; margin-bottom: 1.5em; line-height: 1.35em; }
#puzzle #notice a { border-bottom: 1px solid #c8dbe6; }
#puzzle #notice a:hover { text-decoration: none; border-color: #fe7f2f; }
#puzzle #notice p { margin: 0; }
#puzzle #notice.large { font-size: 1.25em; }
#puzzle #notice iframe { float: right; margin-top: 3px; }
#puzzle #description { margin-bottom: 1.5em; }
#puzzle #description, #puzzle .description { font-size: 1.2em; line-height: 1.5em; text-align: justify; }
#puzzle #description a, #puzzle .description a { border-bottom: 1px solid #c8dbe6; }
#puzzle #description a:hover, #puzzle .description a:hover { text-decoration: none; border-color: #fe7f2f; }
#puzzle #description h1, #puzzle #description h2, #puzzle #description h3, #puzzle #description h4, #puzzle #description h5, #puzzle #description h6, #puzzle .description h1, #puzzle .description h2, #puzzle .description h3, #puzzle .description h4, #puzzle .description h5, #puzzle .description h6 { font-family: "MonkirtaPursuitNCRegular"; }
#puzzle #description h2, #puzzle .description h2 { border-bottom: 2px solid #254980; padding-bottom: 0.25em; color: #c8dbe6; text-shadow: #222222 1px 1px 2px; }
#puzzle #description pre, #puzzle #description #files, #puzzle .description pre, #puzzle .description #files { padding: 1em; background-color: #254980; }
#puzzle #description pre code, #puzzle .description pre code { font-size: 0.75em; line-height: 0.75em; }
#puzzle #description strong, #puzzle .description strong { font-weight: bold; }
#puzzle #description ul, #puzzle #description ol, #puzzle .description ul, #puzzle .description ol { margin: 1em 0 1em 2em; list-style-position: outside; list-style-type: disc; }
#puzzle #description ul li, #puzzle #description ol li, #puzzle .description ul li, #puzzle .description ol li { margin: 0.5em 0; }
#puzzle #description ol, #puzzle .description ol { list-style-type: decimal; }
#puzzle #description em, #puzzle .description em { font-style: italic; }
#puzzle #description blockquote, #puzzle .description blockquote { border-left: 2px solid #256188; padding: 0 0.5em; }
#puzzle #description #files a, #puzzle .description #files a { display: block; border-bottom: none; }
#puzzle #description #files a img, #puzzle .description #files a img { vertical-align: middle; margin-right: 0.5em; }
#puzzle #action { margin-top: 1em; border-top: 5px solid #254980; padding-top: 1em; }
#puzzle #action button { font-size: 1.25em; }
#puzzle #action a { font-size: 1.15em; }
#puzzle form.new_submission input[type=file] { padding: 0.5em; background-color: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; margin-right: 1em; }
#puzzle form.new_submission h3 { font-size: 1.25em; }

#redirect { text-align: center; }
#redirect h1 { font-family: "MonkirtaPursuitNCRegular"; font-size: 3.5em; }

#footer { color: #eeeeee; min-height: 100px; padding: 1.25em 0; border-top: 1px solid #0f1d32; line-height: 1.5em; font-size: 16px; }
#footer .teaser { text-align: center; }
#footer.active { border-top: none; }
#footer.active .bottom #rmu-logo { background-position: center bottom; }
#footer #about { text-align: justify; font-size: 1.2em; display: none; }
#footer #about h1 { font-family: "MonkirtaPursuitNCRegular"; margin: 0.25em 0; text-shadow: #222222 1px 1px 2px; border-bottom: 2px solid #254980; padding-bottom: 0.5em; }
#footer #about a { text-decoration: underline; }
#footer #about a.close { float: right; }
#footer .bottom { text-align: center; margin-top: 1em; }
#footer .bottom #rmu-logo { background: transparent url("/images/rmu.png") no-repeat center top; height: 87px; width: 120px; display: inline-block; }
#footer .bottom #rmu-logo:hover { background-position: center bottom; }

#flash { position: absolute; top: 0; left: 0; width: 100%; opacity: 0.9; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); z-index: 10; }
#flash .flash { text-align: center; padding: 0.5em; font-size: 2em; }
#flash .flash.notice { background-color: #88cc88; color: #225522; }
#flash .flash.error { background-color: #cc8888; color: #552222; }

button.retro { padding: 8px; font-weight: normal; font-family: "MonkirtaPursuitNCRegular"; text-align: center; font-size: 1.1em; border: 1px solid #666666; background-color: #f0f0f0; color: #333333; }
button.retro img, button.retro span { vertical-align: middle; }
button.retro:hover { color: black; }

table td, table th { padding: 0.5em; }

form.edit_puzzle #puzzle_short_description, form.new_puzzle #puzzle_short_description { width: 50%; height: 50px; }
form.edit_puzzle #puzzle_description, form.new_puzzle #puzzle_description { width: 50%; }

form.edit_announcement textarea, form.edit_announcement input[type=text], form.new_announcement textarea, form.new_announcement input[type=text] { width: 50%; }

form.search input#search { font-size: 1em; padding: 0.25em; margin-right: 0.5em; width: 250px; }
form.search input { vertical-align: middle; }

#comments_container { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; }
#comments_container #share-source { display: inline; float: left; margin-right: 0; width: 950px; }
* html #comments_container #share-source { overflow-x: hidden; }
#comments_container #share-source form { display: block; margin-bottom: 1em; font-size: 1.2em; }
#comments_container #share-source.blank form { background-color: #fe7f2f; color: #333333; padding: 1em; }
#comments_container #share-source.blank a img { display: none; }
#comments_container #share-source a.edit { float: right; }
#comments_container #solved-by { display: inline; float: left; margin-right: 0; width: 230px; }
* html #comments_container #solved-by { overflow-x: hidden; }
#comments_container #solved-by .header { background-color: #254980; padding: 0.5em; padding-bottom: 0.75em; margin-bottom: 0.5em; text-align: center; font-family: "PFTempestaSevenExtended"; }
#comments_container #solved-by .user { text-align: center; margin-bottom: 0.5em; font-family: "MonkirtaPursuitNCRegular"; font-size: 1.1em; }
#comments_container #solved-by .user a.edit { float: right; }
#comments_container #solved-by .user a.edit img { margin-left: -16px; }
#comments_container #comments { display: inline; float: left; margin-right: 10px; width: 710px; }
* html #comments_container #comments { overflow-x: hidden; }
#comments_container #comments .comment { margin-bottom: 0.5em; }
#comments_container #comments .comment .header { background-color: #254980; padding: 0.5em; font-size: 1.1em; font-family: "MonkirtaPursuitNCRegular"; }
#comments_container #comments .comment .header .info { margin-left: 1em; display: inline-block; font-size: 0.75em; text-align: right; color: #92aecf; }
#comments_container #comments .comment .header .controls { float: right; display: inline-block; }
#comments_container #new-comment { display: inline; float: left; margin-right: 0; width: 950px; }
* html #comments_container #new-comment { overflow-x: hidden; }
#comments_container form.new_comment { width: 100%; }
#comments_container form.new_comment textarea { width: 100%; }
#comments_container form.new_comment .action { float: right; }

div.pagination span.current { color: #fe7f2f; }
div.pagination span.disabled { color: #bbbbbb; }

form.edit_submission input { font-size: 1.1em; margin-bottom: 0; }
form.edit_submission input[type=text] { width: 800px; }

p.header-information a { border-bottom: 1px solid #c8dbe6; }
p.header-information a:hover { text-decoration: none; border-color: #fe7f2f; }
p.header-information h1, p.header-information h2, p.header-information h3, p.header-information h4, p.header-information h5, p.header-information h6 { font-family: "MonkirtaPursuitNCRegular"; }
p.header-information h2 { border-bottom: 2px solid #254980; padding-bottom: 0.25em; color: #c8dbe6; text-shadow: #222222 1px 1px 2px; }
p.header-information pre, p.header-information #files { padding: 1em; background-color: #254980; }
p.header-information pre code { font-size: 0.75em; line-height: 0.75em; }
p.header-information strong { font-weight: bold; }
p.header-information ul, p.header-information ol { margin: 1em 0 1em 2em; list-style-position: outside; list-style-type: disc; }
p.header-information ul li, p.header-information ol li { margin: 0.5em 0; }
p.header-information ol { list-style-type: decimal; }
p.header-information em { font-style: italic; }
p.header-information blockquote { border-left: 2px solid #256188; padding: 0 0.5em; }

#announcements { margin-top: 2em; }
#announcements .announcement { margin-bottom: 2em; }
#announcements .announcement .title { font-size: 1.1em; padding: 0.25em 0.5em; background: #254980; font-family: "MonkirtaPursuitNCRegular"; }
#announcements .announcement .body { color: white; padding-left: 1em; }
#announcements .announcement .body a { border-bottom: 1px solid #c8dbe6; }
#announcements .announcement .body a:hover { text-decoration: none; border-color: #fe7f2f; }
#announcements .announcement .body h1, #announcements .announcement .body h2, #announcements .announcement .body h3, #announcements .announcement .body h4, #announcements .announcement .body h5, #announcements .announcement .body h6 { font-family: "MonkirtaPursuitNCRegular"; }
#announcements .announcement .body h2 { border-bottom: 2px solid #254980; padding-bottom: 0.25em; color: #c8dbe6; text-shadow: #222222 1px 1px 2px; }
#announcements .announcement .body pre, #announcements .announcement .body #files { padding: 1em; background-color: #254980; }
#announcements .announcement .body pre code { font-size: 0.75em; line-height: 0.75em; }
#announcements .announcement .body strong { font-weight: bold; }
#announcements .announcement .body ul, #announcements .announcement .body ol { margin: 1em 0 1em 2em; list-style-position: outside; list-style-type: disc; }
#announcements .announcement .body ul li, #announcements .announcement .body ol li { margin: 0.5em 0; }
#announcements .announcement .body ol { list-style-type: decimal; }
#announcements .announcement .body em { font-style: italic; }
#announcements .announcement .body blockquote { border-left: 2px solid #256188; padding: 0 0.5em; }
#announcements .announcement .info { display: inline-block; float: right; font-size: 0.75em; color: #92aecf; padding-top: 0.25em; }
#announcements .announcement .info div { display: inline-block; margin: 0 0.5em; }
#announcements .announcement .info div.author { padding-right: 0.5em; margin-right: 0; border-right: 1px solid #7a91ad; }

.pagination { margin: 1em 0; padding: 1em 0; text-align: center; color: #444444; border-top: 1px solid silver; }

.pagination a { color: #222222; }

.pagination em { font-size: 1.3em; color: black; font-style: normal; }

#leaderboard hr { background-color: #254980; border: 1px solid #254980; color: #254980; margin: 1em 0; }
#leaderboard h1 { margin-top: 0; margin-bottom: 0.25em; padding-bottom: 0.5em; font-family: "MonkirtaPursuitNCRegular"; text-shadow: #222222 1px 1px 5px; border-bottom: 5px solid #254980; font-size: 3em; }
#leaderboard #top_three { font-family: "MonkirtaPursuitNCRegular"; margin: 2em 0; }
#leaderboard #top_three .clear { clear: both; }
#leaderboard #top_three .user { float: left; width: 220px; min-height: 200px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; padding: 20px; text-align: center; position: relative; }
#leaderboard #top_three .user.gold { background-color: #ffd700; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #fffd0d), color-stop(100%, #ffd700)); background-image: -moz-linear-gradient(top, #fffd0d 20%, #ffd700 100%); background-image: linear-gradient(top, #fffd0d 20%, #ffd700 100%); color: #333333; }
#leaderboard #top_three .user.gold .name a { color: #333333; }
#leaderboard #top_three .user.silver { margin-left: 100px; background-color: silver; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #dfdfdf), color-stop(100%, #c0c0c0)); background-image: -moz-linear-gradient(top, #dfdfdf 20%, #c0c0c0 100%); background-image: linear-gradient(top, #dfdfdf 20%, #c0c0c0 100%); color: #333333; }
#leaderboard #top_three .user.silver .name a { color: #333333; }
#leaderboard #top_three .user.bronze { float: right; background-color: #a67d3d; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #cba755), color-stop(100%, #a67d3d)); background-image: -moz-linear-gradient(top, #cba755 20%, #a67d3d 100%); background-image: linear-gradient(top, #cba755 20%, #a67d3d 100%); color: white; }
#leaderboard #top_three .user.bronze .name a { color: white; }
#leaderboard #top_three .user .name a { font-size: 1.5em; }
#leaderboard #top_three .user .rank { position: absolute; font-size: 3.25em; top: 0.05em; }
#leaderboard #top_three .user .avatar { padding-top: 3em; }
#leaderboard #generic { font-size: 24px; font-family: "MonkirtaPursuitNCRegular"; }
#leaderboard #generic .row { margin-bottom: 0.5em; }
#leaderboard #generic .row .rank { float: left; padding: 5px; margin-right: 10px; font-size: 28px; width: 53px; }
#leaderboard #generic .row .user { width: 896px; display: inline-block; background-color: #254980; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #254980), color-stop(100%, #1b3969)); background-image: -moz-linear-gradient(top, #254980 0%, #1b3969 100%); background-image: linear-gradient(top, #254980 0%, #1b3969 100%); color: #eeeeee; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#leaderboard #generic .row .user img { float: left; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
#leaderboard #generic .row .user .name { margin-left: 45px; padding: 8px 15px; }
#leaderboard #generic .row .user .name a { color: #eeeeee; }
#leaderboard #generic .row .user .name .detail { float: right; color: #c8dbe6; font-size: 15px; margin-top: 6px; }
#leaderboard #about_leaderboard { border-top: #254980 2px solid; margin-top: 1em; padding-top: 1em; text-align: center; }

h1, h2, h3 { margin: 1em 0; }

h1 { font-size: 2em; }

h2 { font-size: 1.75em; }

h3 { font-size: 1.5em; }

a { text-decoration: none; color: white; }
a:visited { color: white; }
a:hover { color: #fe7f2f; text-decoration: underline; }

input { margin: 1em 0; }

p { margin: 1.5em 0; }

.clearfix { overflow: hidden; *zoom: 1; clear: both; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

pre, code { font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; }
